
.no-underline {
  text-decoration: none;
  color: white;
}

.no-underline:hover {
  text-decoration: none;
}

.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  position: relative;
  z-index: 99999;
}

.footer-top {
  background-color: #111111;
  padding: 20px 0;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.info-item p {
  margin: 0;
  font-size: 1.1em;
}

.info-item i {
  margin-right: 8px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-section p, .footer-section ul {
  font-size: 1em;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ff6347;
}

.footer-section.tags .tags {
  display: flex;
  flex-wrap: wrap;
}

.footer-section.tags .tags span {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  background-color: #222;
  font-size: 1em;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff6347;
}

@media (max-width: 768px) {
  .footer-info {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    padding: 10px;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-bottom: 60px; 
}
