  
  .login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  
  .login-box {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .brandnameletter {
    color: black;
    font-size: 40px;
    text-indent: 10px;
    font-weight: bold;
  }
  
  .brandnameletter::first-letter {
    color: red;
    font-size: 45px;
    text-indent: 10px;
    font-weight: bold;
  }
  
  .login-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-header h2 {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .person-icon {
    font-size: 40px;
    color: #000000;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent; /* Make input background transparent */
    color: #333;
    transition: all 0.3s ease; /* Add transition for smooth animation */
    margin-bottom: 15px;
  }
  
  .input-group input:focus {
    border-bottom: 1px solid #007bff; /* Change underline color on focus */
    outline: none;
  }
  
  .input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease; /* Transition for placeholder animation */
  }
  
  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    top: -20px;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
  }
  
  .input-group.invalid input {
    border-bottom: 1px solid red; /* Change border color on error */
  }
  
  .input-group.invalid label {
    color: red; /* Change label color on error */
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .login-button {
    width: 60%;
    padding: 10px;
    background: #242527;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: #2d6db1;
  }
  
  .forgot-password {
    display: block;
    margin-top: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .forgot-password:hover {
    color: #007bff;
  }

.vid{
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    size-adjust: cover;
    position: fixed;
    z-index: -1;

    
}
  
.signup {
  color: black;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.signup:hover {
  color: #007bff;
}