.manage-services-container {
  display: flex;
  margin-left: 250px;
  background-color: whitesmoke;
}

.form-container {
  flex: 1;
  padding: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.service-form-table {
  width: 50%;
  border-collapse: collapse;
}

.service-form-table td {
  padding: 10px;
}

.service-form-table input,
.service-form-table textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.service-form-table textarea {
  resize: vertical;
}

.btn-submit {
  padding: 10px 20px;
  border: none;
  background-color: #f10c0c;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #b81313;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  width: 50%;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: darkred;
}

.btn-edit {
  background-color: #4CAF50; 
  border: none;
  color: white; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px;
  margin: 4px 2px;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-edit:hover {
  background-color: #45a049; 
}

.btn-edit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666; 
  transform: translateY(4px); 
}


@media (max-width: 768px) {
  .service {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .service {
    width: 100%;
  }
}
